* {
  scroll-behavior: smooth;
}
#header-image {
  mix-blend-mode: luminosity;
  border-radius: 100%;
}
@media only screen and (max-width: 600px) {
  #map-box {
    max-width: 250px;
  }
  #map {
    width: 500px;
  }
}
